<form action="/posts" method="POST">
	<label>Title</label><input name="post[title]"><br>
	<label>Body</label><textarea name="post[body]" rows="5"></textarea><br>
	<input type="submit" value="Create Post">
</form>